@import "vars";

.project-main {
  position: relative;
  width: 100%; height: 100%;
  perspective: 1000px;

  .project-card {
    position: absolute;
    width: 100%; height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    text-shadow: 1px 1px 1px black;
    backface-visibility: hidden;
    div {
      position: absolute;
      width: 100%; height: 100%;
      backface-visibility: hidden;
    }
  }
  .front {
    display: flex;
    background: $color-primary-t;
    border-top: 5px ridge $color-white;
    border-right: 5px groove $color-white;
    border-bottom: 5px groove $color-white;
    border-left: 5px ridge $color-white;
    text-shadow: 1px 1px 1px black;

    .title {
      height: auto;
      align-self: center;
      text-align: center;
      font-size: 3em;
    }
  }
  .back {
    display: flex;
    transform: rotateY(180deg);
    background: $color-secondary-t;
    border-top: 5px ridge $color-white;
    border-right: 5px groove $color-white;
    border-bottom: 5px groove $color-white;
    border-left: 5px ridge $color-white;

    .description {
      height: auto;
      align-self: center;
      text-align: center;
      padding: 10px;
      font-size: 1.5em;
    }
  }
}

.project-main:hover {
  .project-card {
    transform:rotateY(180deg);
  }
}
