@import "vars";

.project-main {
  position: relative;
  width: 100%; height: 100%;
  perspective: 1000px;
  .project-card {
    position: absolute;
    width: 100%; height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    text-shadow: 1px 1px 1px black;
    backface-visibility: hidden;
    div {
      position: absolute;
      width: 100%; height: 100%;
      backface-visibility: hidden;
    }
  }
  .front {
    display: flex;
    background: $color-primary;
    text-shadow: 1px 1px 1px black;
    .title {
      height: auto;
      align-self: center;
      text-align: center;
      font-size: 2em;
    }
  }
  .back {
    display: flex;
    transform: rotateX(180deg);
    background: $color-secondary;
    .description {
      height: auto;
      align-self: center;
      text-align: center;
      padding: 10px;
      font-size: 1.2em;
    }
  }
} /* end project main */

.project-main:hover {
  .project-card {
    transform:rotateX(180deg);
  }
}

@media only screen and(min-width: 768px) {
  .project-main {
    .project-card {

    }

  } /* end project main */
}
