$color-primary: #2098D1;
$color-secondary: #045F8C;
$color-error: #ff777a;
$color-success: #77ff7a;
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #F3F3F3;
$color-grey: #888889;
$color-darkgrey: #222222;
$color-button: #FEC101;

$pad: 0.5em;

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Roboto Mono', monospace;
