@import "vars";

.header-field{
  background-color: $color-primary;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 20px 0px 20px;
}

.header-field.header-open {
  height: 150px;
}

.running-lion{
  display: inline-block;
  vertical-align: bottom;
  width: 45px;
  height: 45px;
  background: white;
  -webkit-mask: url(../../assets/running-lion.svg) no-repeat 50% 50%;
  mask: url(../../assets/running-lion.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.logo-field {
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
}

.logo-field h1 {
  display: block;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 22.14px;
}

.logo-field h2 {
  display: block;
  color: $color-white;
  font-size: .875em;
}

.logo-name {
  display: inline-block;
  line-height: 1.4;
  margin-left: 8px;
  vertical-align: middle;
}

.logo-field:hover > .running-lion{
  background: $color-secondary;
  transition-duratin: .3sec;
  background-size: cover;
}

.nav-field {
  display: none;
}


.nav-field.open {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid red;

  ul {
    display: block;
    width: 100%;
    li {
      width: auto;
      max-width: 100%;
      display: block;
      text-align: center;
      background: $color-darkgrey;
      zoom: 1;
      vertical-align: middle;
      transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      text-transform: uppercase;
      font-size: .85em;
      font-weight: 900;

      Link {
        color: $color-white;
      }

      Link:hover {
        color: $color-secondary;
      }
    }
  }

  .nav-ul.open {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 1px solid red;
    li {
      display: block;
      margin: 0;
    }
  }
}

/* hamburger icon styles */

.hamNav {
  display: inline-block;
  width: 30px;
  height: 25px;
  // margin-top: 11.5px;
  top: 13px;
  position: relative;
  float: right;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    transition: .25s ease-in-out;
    opacity: 1;
    background: $color-white;
    border-radius: 9px;
  }
}

.hamNav span:nth-child(1) {
  top: 0;
}

.hamNav span:nth-child(2), .hamNav span:nth-child(3) {
  top: 9px;
}

.hamNav span:nth-child(4) {
  top: 18px;
}

.hamNav.open span:nth-child(1), .hamNav.open span:nth-child(4) {
  top: 9px;
  left: 50%;
  width: 0;
  opacity: 0;
}

.hamNav.open span:nth-child(2) {
  transform: rotate(135deg);
}

.hamNav.open span:nth-child(3) {
  transform: rotate(-135deg);
}

.hamNav.open span {
  background: $color-secondary;
}

.current {
  color: $color-secondary;
}

.header-top {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}


@media only screen and (min-width: 760px){

  .logo-field h2 {
    font-size: 1em;
  }

  .running-lion{
    width: 50px;
    height: 50px;
  }

  .hamNav {
    display: none;
  }

  .nav-field, .nav-field.open {
    width: auto;
    float: right;
    display: inline-block;
    position: relative;
    // top: 20px;
    .nav-ul, .nav-ul.open {
      display: inline-block;
      li {
        display: inline-block;
        font-size: 12px;
        padding: 15px 8px;
        margin: 0;
      }
    }
  }
}
