@import "vars";

.header-main {
  display: grid;
  grid-template-columns: auto 1fr 35px;
  grid-template-rows: 1fr 35px;
  grid-column-gap: 10px;
  grid-template-areas:
    "title title nav"
    "logo subtitle nav";
  font-family: $font-primary;
  background-color: $color-primary;
  padding: 5px;
  border-bottom: 2px solid $color-darkgrey;
}

.header-title {
  font-size: 1.9em;
  letter-spacing: -1px;
  color: $color-white;
  grid-area: title;
  align-self: start;
  text-shadow: .5px .5px .5px $color-black;
}

.header-subtitle {
  font-size: 1em;
  color: $color-white;
  grid-area: subtitle;
  align-self: center;
}

.logo-icon{
  grid-area: logo;
  display: inline-block;
  vertical-align: bottom;
  width: 35px;
  height: 35px;
  background: $color-white;

  -webkit-mask: url(../../assets/running-lion.svg) no-repeat 50% 50%;
  mask: url(../../assets/running-lion.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.logo-icon:hover {
  background: $color-secondary;
}
