@import "vars";

.header-field{
  background-color: $color-primary;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 20px 0px 20px;
}

.running-lion{
  display: inline-block;
  vertical-align: bottom;
  width: 45px;
  height: 45px;
  background: white;
  -webkit-mask: url(../../assets/running-lion.svg) no-repeat 50% 50%;
  mask: url(../../assets/running-lion.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.logo-field {
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
}

.logo-field h1 {
  display: block;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 22.14px;
}

.logo-field h2 {
  display: block;
  color: $color-white;
  font-size: .875em;
}

.logo-name {
  display: inline-block;
  line-height: 1.4;
  margin-left: 8px;
  vertical-align: middle;
}

.logo-field:hover > .running-lion{
  background: $color-secondary;
  transition-duration: .3sec;
  background-size: cover;
}

li {
  transition: .25s ease-in;
}

.nav-field {
  display: none;
  // ul {
  //   li:nth-child(1), li:nth-child(3) {
  //     position: relative;
  //     left: -100%;
  //   }
  //   li:nth-child(2) {
  //     position: relative;
  //     left: 150%;
  //   }
  // }
}


.nav-field.open {
  display: block;
  margin: 15px -20px 0 -20px;
  clear: both;

  ul {
    margin: 0;
    li {
      display: block;
      text-align: center;
      background: $color-darkgrey;
      margin: 0;
      zoom: 1;
      vertical-align: middle;
      transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      text-transform: uppercase;
      font-size: .85em;
      font-weight: 900;

      a {
        color: $color-white;
        padding: 15px;
        border-bottom: 1px solid #333;
      }

      a:nth-child(1) {
        padding-top: 15px;
      }

      a.current, a:hover {
        color: $color-secondary;
      }
    }
    // li:nth-child(1), li:nth-child(2), li:nth-child(3) {
    //   left: 0;
    // }
  }
}

/* hamburger icon styles */

.hamNav {
  display: inline-block;
  width: 30px;
  height: 25px;
  top: 13px;
  position: relative;
  float: right;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    transition: .25s ease-in-out;
    opacity: 1;
    background: $color-white;
    border-radius: 9px;
  }
}

.hamNav span:nth-child(1) {
  top: 0;
}

.hamNav span:nth-child(2), .hamNav span:nth-child(3) {
  top: 9px;
}

.hamNav span:nth-child(4) {
  top: 18px;
}

.hamNav.open span:nth-child(1), .hamNav.open span:nth-child(4) {
  top: 9px;
  left: 50%;
  width: 0;
  opacity: 0;
}

.hamNav.open span:nth-child(2) {
  transform: rotate(135deg);
}

.hamNav.open span:nth-child(3) {
  transform: rotate(-135deg);
}

.hamNav.open span {
  background: $color-secondary;
}

.current {
  color: $color-secondary;
}

.header-top {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}


@media only screen and (min-width: 760px){

  .logo-field h2 {
    font-size: 1em;
  }

  .running-lion{
    width: 50px;
    height: 50px;
  }

  .hamNav {
    display: none;
  }

  .nav-field, .nav-field.open {
    display: inline-block;
    position: relative;
    float: right;
    width: auto;
    margin: 0;
    .nav-ul, .nav-ul.open {
      display: inline-block;
      li {
        display: inline-block;
        font-size: 12px;
        background: none;
        margin: 0;
        padding: 15px 8px;
        a {
          padding: 0;
          border: none;
        }
      }
    }
  }
}

// .nav-field.open {
//   display: block;
//   margin: 15px -20px 0 -20px;
//   clear: both;
//
//   ul {
//     margin: 0;
//     li {
//       display: block;
//       text-align: center;
//       background: $color-darkgrey;
//       margin: 0;
//       zoom: 1;
//       vertical-align: middle;
//       transition: all .3s ease-in-out;
//       -o-transition: all .3s ease-in-out;
//       -moz-transition: all .3s ease-in-out;
//       -webkit-transition: all .3s ease-in-out;
//       text-transform: uppercase;
//       font-size: .85em;
//       font-weight: 900;
//
//       a {
//         color: $color-white;
//         padding: 15px;
//         border-bottom: 1px solid #333;
//       }
//
//       a:nth-child(1) {
//         padding-top: 15px;
//       }
//
//       a.current, a:hover {
//         color: $color-primary;
//       }
//     }
//   }
// }
