.projects {
  height: 100%;
  width: 100%;
  border: 1px solid red;
}

.projects a {
  display: inline-block;
  border: 1px solid blue;
  width: calc(100%/3);
  height: 270px;
  overflow: hidden;
}

.projects a:hover > .project h5 {
  transform: scale(.8, .8);
}

.projects a:hover > .project h4 {
  transform: translateY(-30px)
}

.project h5 {
  line-height: 270px;
  text-align: center;
  transition: transform .2s;
}

.project h4 {
  // display: none;
  position: absolute;
  // float: left;
  // width: 100px;
  border: 1px solid green;
  top: 270px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.project {
  position: relative;
  // float: right;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-bottom: -10px;
}

.project img {
  display: none;
}
