* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.projects {
  height: 100%;
  width: 100%;
  border: 1px solid red;
}

.projects a {
  display: inline-block;
  border: 1px solid blue;
  width: calc(100%/3);
  height: 270px;
}

.project h5 {
  line-height: 270px;
  text-align: center;
}


.project img {
  display: none;
}
