@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.featured-work {
  display: block;
}

.featured-work ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.featured-work li {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: calc(100%/3);
  height: 270px;
  overflow: hidden;
  position: relative;
  word-break: break-word;
}

.featured-work li a {
  display: block;
  position: relative;
  min-height: 270px;
  text-align: center;
}

.featured-work li a h3 {
  line-height: 270px;
  text-align: center;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.featured-work li h4 {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  line-height: 1.4;
  background: rgba(0, 0, 0, 0.75);
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transform: translateY(100%);
}

.featured-work li:hover > a h3{
  transform: scale(.9, .9);
}

.featured-work li:hover > h4{
  transform: translateY(0%);
}

.projects img {
  display: none;
}

.seattle-reads {
  background: #F6F6F6;
}

.guardians, .guardians h3 {
  color: white;
  background: $color-darkgrey;
}
