@import "vars";

.footer {
  text-align: center;
}

.footer a {
  display: inline-block;
  width: auto;
  margin: .3em;
}

.fa {
  font-size: 1.5em;
}

.fa:hover {
  color: $color-secondary;
  transition: all 0.2s ease;
}
