@import "vars";

@font-face {
  font-family: 'Munro';
  src: local('Munro'), url(../../style/font/Munro.ttf) format('truetype');
}

@-webkit-keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0; visibility: hidden;}
}

@keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0; visibility: hidden;}
}

@-webkit-keyframes spin-left {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

@keyframes spin-left {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

@-webkit-keyframes teeter {
  0% {transform: rotate(20deg);}
  50% {transform: rotate(-10deg);}
  100% {transform: rotate(20deg);}
}

@keyframes teeter {
  0% {transform: rotate(20deg);}
  50% {transform: rotate(-10deg);}
  100% {transform: rotate(20deg);}
}

.home-main  {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 5px repeat(2, 1fr) 5px;
  grid-template-rows: 5px 1fr 1fr 1fr 1fr 5px;
  width: 100%; height: 100%;
  overflow: hidden;

  font-family: 'Munro', normal;
  color: $color-white;
  background-color: $color-black;


  .theme-toggle-icon {
    display: none;
    grid-area: 2 / 3 / 3 / 4;
    justify-self: right;
    cursor: pointer;
    .fa {
      color: white;
      animation: teeter 5s ease-in-out forwards infinite;
    }
  }

  .theme-toggle-icon-light {
    .fa {
      color: orange;
      animation: spin-left 10s linear infinite;
    }
  }
}


@media only screen and (min-width: 768px) {
  .home-main {
    grid-template-columns: 10px repeat(3, 1fr) 10px;
    grid-template-rows: 10px 1r 1fr 1fr 1fr 10px;
  }
}


@media only screen and (min-width: 1024px) {

  .home-main {
    grid-template-rows: 30px repeat(3, 1fr) 30px;
    grid-template-columns: 30px repeat(3, auto) repeat(3, 1fr) 30px;
    grid-gap: 20px;
    width: 100%;

    .to-about {
      grid-area: 3 / 2 / 4 / span 1;
      font-size: 3em;
      color: $color-white;
      font-family: 'Munro', normal;
    }
    .to-portfolio {
      grid-area: 3 / 3 / 4 / span 1;
      font-size: 3em;
      color: $color-white;
      font-family: 'Munro', normal;
    }
    .to-contact {
      grid-area: 3 / 4 / 4 / span 1;
      font-size: 3em;
      color: $color-white;
      font-family: 'Munro', normal;
    }

    .to-about:hover {
      color: hsla(100,100,50%,1);
    }








  }
}
