@import "vars";


.portfolio-container {
  display: grid;
  grid-template-rows: auto 200px 200px 200px 30px;
  grid-template-columns: 30px 1fr 30px;
  grid-row-gap: 30px;
  width: 100%; height: 100%;
  overflow-y: auto;
  background-color: hsla(0, 0, 0, .6);
  .project-sr {
    grid-area: 2 / 2 / span 1 / span 1;
  }
  .project-gs {
    grid-area: 3 / 2 / span 1 / span 1;
  }
  .project-gog {
    grid-area: 4 / 2 / span 1 / span 1;
  }
}
