@import "vars";

.portfolio-container {
  display: grid;
  grid-template-rows: 0px repeat(3, auto) 0px;
  grid-template-columns: 10px auto 10px;
  grid-row-gap: 10px;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0, 0, 0.6);
  overflow-y: auto;
  overflow-x: hidden;
  .project {
    width: 100%;
    height: 150px;
  }
  .one {
    grid-area: 2 / 2 / span 1 / span 1;
  }
  .two {
    grid-area: 3 / 2 / span 1 / span 1;
  }
  .three {
    grid-area: 4 / 2 / span 1 / span 1;
  }
}

@media only screen and(min-width: 768px) {
  .portfolio-container {
    display: grid;
    grid-template-rows: 30px auto 30px;
    grid-template-columns: 0px repeat(3, 1fr) 0px;
    grid-row-gap: 0;
    grid-column-gap: 30px;
    .project {
      width: 100%;
      height: 200px;
    }
    .one {
      grid-area: 2 / 2 / span 1 / span 1;
    }
    .two {
      grid-area: 2 / 3 / span 1 / span 1;
    }
    .three {
      grid-area: 2 / 4 / span 1 / span 1;
    }
  }
}
