@import "vars";

.contact-container {
  position: absolute;
  top: 0; left: 10%;
  width: 80%; height: 100%;
  background: hsla(0,0,100,.95);
  overflow-y: auto;
}

.contact-content {
  form {
    background: none;
  }
}

.contact-intro {
  position: relative;
  color: white;
  // background: $color-primary;
  padding: 80px 80px 30px 80px;
  text-align: center;
}

.contact-intro h1 {
  font-size: 2.6em;
  font-weight: 900;
  line-height: 1.4;
  max-width: 860px;
  margin: 0 auto;
}

.contact-intro h2 {
  font-size: 1.2em;
  font-weight: 500;
  color: white;
}

.contact-content {
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-bottom: 5em;
  max-width: 720px;
}

.contact-content form {
  margin-top: 2me;
}

.contact-info-label {
  margin-top: 1.4em;
}

.contact-content textarea {
  height: 190px;
}

.contact-content input, .contact-content textarea {
  width: 100%;
}

.contact-content button {
  width: 20%;
  border-radius: 1px;
}

.contact-message-header {
  margin-top: 4em;
  margin-bottom: 1.2em;
  padding-bottom: .3em;
  border-bottom: 2px solid $color-lightgrey;
}

.contact-about-you {
  display: block;
  margin-bottom: 1.2em;
  padding-bottom: .3em;
  border-bottom: 2px solid $color-lightgrey;
}
