@import "vars";

.contact-main {
  width: 100%; height: 100%;
  background: hsla(0,0,0,.6);
  overflow-y: auto;
}

.contact-content {
  form {
    background: none;
    p {
      color: $color-white;
    }
    input[type='text'], textarea, {
      color: $color-black;
      background-color: hsla(0,0,100%,1);
    }
  }
}

.contact-intro {
  position: relative;
  color: white;
  // background: $color-primary;
  padding: 80px 80px 30px 80px;
  text-align: center;
}

.contact-intro h1 {
  font-size: 2.6em;
  font-weight: 900;
  line-height: 1.4;
  max-width: 860px;
  margin: 0 auto;
}

.contact-intro h2 {
  font-size: 1.2em;
  font-weight: 500;
  color: white;
}

.contact-content {
  // margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-right: 1.25em;
  padding-bottom: 2rem;
  padding-left: 1.25em;
  max-width: 720px;
}

.contact-content form {
  margin-top: 2me;
}

.contact-info-label {
  margin-top: 1.4em;
}

.contact-content textarea {
  height: 190px;
}

.contact-content input, .contact-content textarea {
  width: 100%;
}

.contact-content button {
  width: 20%;
  border-radius: 1px;
}

.contact-message-header {
  margin-top: 4em;
  margin-bottom: 1.2em;
  padding-bottom: .3em;
  border-bottom: 2px solid $color-lightgrey;
}

.contact-about-you {
  display: block;
  margin-bottom: 1.2em;
  padding-bottom: .3em;
  border-bottom: 2px solid $color-lightgrey;
}
