@import "vars";

.user-main {
  display: grid;
  grid-template-rows: 30px auto auto auto auto auto 30px;
  grid-template-columns: 30px auto auto 30px;
  align-items: center;
  justify-items: center;
  grid-gap: 30px;
  background-color: hsla(0,0,0,.6);
  overflow-y: auto;

  border-top: 15px ridge #ccc;
  border-right: 15px groove #ccc;
  border-bottom: 15px groove #ccc;
  border-left: 15px ridge #ccc;
  .user-welcome {
    grid-area: 2 / 2 / span 1 / span 2;
    font-size: 5em;
    text-shadow: 1px 1px 1px $color-black;
  }
  .portrait {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsla(0,0,0,0);
    width: 150px; height: 150px;
  }
  .name-select {
    grid-area: 4 / 2 / span 1 / span 2;
    input {
      width: 100%; height: auto;
      font-size: 2em;
      text-shadow: 1px 1px 1px $color-black;
    }
    input:focus {
      border: 5px solid $color-white;
    }
  }


  .man1 {
    grid-area: 3 / 3 / span 1 / span 1;
    background-image: url('../../assets/images/man-01.png');
  }
  .woman1 {
    grid-area: 3 / 2 / span 1 / span 1;
    background-image: url('../../assets/images/woman-01.png');
  }

  .enter {
    grid-area: 5 / 2 / span 1 / span 2;
    font-size: 3.5em;
    padding: 10px;
    text-shadow: 1px 1px 1px black;
  }

  .delete {
    grid-area: 6 / 2 / span 1 / span 2;
    font-size: 3.5em;
    padding: 10px;
    text-shadow: 1px 1px 1px black;
  }

  .menu-select {
    display: inline-block;
    animation: blink 1s linear infinite;
    width: 20px;
    height: 40px;
    background-color: $color-white;
  }

  .selected {
    border: 5px solid $color-white;
  }
}
