@import "vars";

.view-cover-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: calc(100% - 200px);
  cursor: pointer;
  // background: radial-gradient(circle at top, transparent 50px, $color-primary 50.5px);
  background: $color-primary;
  border-top: 2px solid $color-darkgrey;

  -webkit-transition-property: bottom, left, opacity;
  -webkit-transition-duration: .65s, .65s, 0s;
  -webkit-transition-delay: 0s, 0s, 1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: bottom, left, opacity;
  transition-duration: .65s, .65s, 0s;
  transition-delay: 0s, 0s, 1s;
  transition-timing-function: ease-in-out;
}

.view-cover-open {
  bottom: calc(-100% + 230px);
}


.toggle-icon {
  .fa {
    color: $color-white;
  }
  transition-delay: .5s;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: rotate(-270deg);
  margin-top: 5px;
}

.toggle-icon-open {
  transform: rotate(-90deg);
}


@media only screen and (min-width: 760px){
  .view-cover-main {
    align-items: center;
    justify-content: left;
    top: 0;
    left: 400px;
    width: calc(100% - 400px);
    height: 100%;
    background-color: $color-primary;
    border-top: none;
    border-left: 2px solid $color-darkgrey;
    // background: radial-gradient(circle at left, transparent 60px, green 60.5px);
  }

  .view-cover-open {
    top: 0;
    left: calc(100% - 30px);
  }


  .toggle-icon {
    justify-self: left;
    margin-left: 5px;
    transform: rotate(0);
  }

  .toggle-icon-open {
    transform: rotate(-180deg);
  }
}
