@import "vars";

@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-in-out {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes slide-right {
  0% {left: 0; width: 100%;}
  100% {left: 400px; width: calc(100% - 400px)}
}

@keyframes slide-right {
  0% {left: 0; width: 100%;}
  100% {left: 400px; width: calc(100% - 400px)}
}


.view-cover-main {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 50px);
  cursor: default;

  background-color: hsla(0,0,0,1);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position: center;

  -webkit-transition-property: bottom, left, opacity, width, height;
  -webkit-transition-duration: .65s, .65s, 0s, .65s, .65s;
  -webkit-transition-delay: 0s, 0s, 1s, 0s, 0s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: bottom, left, opacity, width, height;
  transition-duration: .65s, .65s, 0s, .65s, .65s;
  transition-delay: 0s, 0s, 1s, 0s, 0s;
  transition-timing-function: ease-in-out;

}

.view-cover-main-open {
  bottom: calc(-100% + 80px);
}

.view-cover-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 30px auto auto auto 1fr 1fr 1fr;
}

.view-cover-toggle-icon {
  grid-area: 1 / 1 / 2 / span 10;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30px;
  background: hsla(0, 0, 0, .6);

  -webkit-transition: background-color 1s ease-in-out .5s;
  -moz-transition: background-color 1s ease-in-out .5s;
  -o-transition: background-color 1s ease-in-out .5s;
  transition: background-color 1s ease-in-out .5s;

  .fa {
    align-self: center;
    justify-self: center;
    color: $color-white;
    -webkit-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    transform: rotate(-270deg);

    -webkit-transition: transform 1s ease-in-out .5s, color 1s ease-in-out .5s;
    -moz-transition: transform 1s ease-in-out .5s, color 1s ease-in-out .5s;
    -o-transition: transform 1s ease-in-out .5s, color 1s ease-in-out .5s;
    transition: transform 1s ease-in-out .5s, color 1s ease-in-out .5s;
  }
}

.view-cover-toggle-icon-open-dark {
  // background-color: $color-black;
  .fa {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.view-cover-toggle-icon-open-light {
  // background-color: $color-white;
  .fa {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: $color-black;
  }
}


.background-video {
  -o-object-fit: cover;
  -webkit-object-fit: cover;
  object-fit: cover;
  grid-area: 1 / 1 / 6 / span 10;
  width: 100%;
  height: 100%;
  z-index: -1;
}


@media only screen and (min-width: 768px) {
  .view-cover-content {
    .view-cover-p1 {
      font-size: 3.5em;
    }
    .view-cover-p3 {
      font-size: 6em;
    }
  }
}


/* LARGE SCREENS */

@media only screen and (min-width: 1024px) {
  .view-cover-main {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-top: none;
    overflow: hidden;

  }

  .view-cover-content {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 30px repeat(10, 1fr) 30px;
    grid-template-rows: 30px 40px 40px 40px 1fr 1fr 30px;
    // grid-gap: 10px;

    .name, .developer, .status {
      height: 25px;
      font-family: 'Munro', normal;
      font-size: 1.5em;
      justify-self: left;
      color: $color-white;
      padding-left: 5px; padding-right: 5px;
      background-color: hsla(0, 0, 0, .6);
    }

    .name {
      grid-area: 2 / 2 / 3 / span 4;
    }

    .developer {
      grid-area: 3 / 2 / 4 / span 4;
    }

    .status {
      grid-area: 4 / 2 / 5 / span 4;
    }

    .portfolio-container {
      grid-area: 1 / 6 / span 6 / span 6;
    }
    .about-container {
      grid-area: 1 / 6 / span 6 / span 6;
    }
    .contact-container {
      grid-area: 1 / 6 / span 6 / span 6;
    }
  }

  .view-cover-main-open {
    top: 0;
    left: 0;
    bottom: 0;
    height: calc(100% * .7);
    width: 100%;
  }


  .view-cover-toggle-icon {
    grid-area: 7 / 1 / 8 / span 12;
    grid-template-columns: 30px;
    grid-template-rows: 100%;
    justify-content: center;
    width: 100%;
    transition: 0s;
    cursor: pointer;
    z-index: 10;
    .fa {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }

  .view-cover-toggle-icon:hover {
    background: hsla(0, 0, 0, .9);
    transition: 0s;
  }

  .view-cover-toggle-icon-open-dark {
      // background-color: $color-black;
    .fa {
      -webkit-transform: rotate(-270deg);
      -ms-transform: rotate(-270deg);
      transform: rotate(-270deg);
    }
  }

  .view-cover-toggle-icon-open-light {
    // background-color: $color-white;
    .fa {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
      color: $color-primary;
    }
  }
}

@media only screen and(min-width: 1280px) {
  .view-cover-content {
    .view-cover-p1 {
      font-size: 3em;
    }
    .view-cover-p2 {
      font-size: 1.5em;
    }
    .view-cover-p3 {
      font-size: 7em;
    }
  }
}
