@import "vars";

@font-face {
  font-family: 'Munro';
  src: local('Munro'), url(../../style/font/Munro.ttf) format('truetype');
}

@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-in-out {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes teeter-gentle {
  0% {transform: rotate(5deg);}
  50% {transform: rotate(-2.5deg);}
  100% {transform: rotate(5deg);}
}

@keyframes teeter-gentle {
  0% {transform: rotate(5deg);}
  50% {transform: rotate(-2.5deg);}
  100% {transform: rotate(5deg);}
}

@-webkit-keyframes blink {
    //   0% { opacity: 1; }
    //  49% { opacity: 1; }
    //  50% { opacity: 0; }
    // 100% { opacity: 0; }
    0% { background-color: hsla(0, 0, 100, 1); }
   49% { background-color: hsla(0, 0, 100, 1); }
   50% { background-color: hsla(0, 0, 100, 0); }
  100% { background-color: hsla(0, 0, 100, 0); }
}

.view-cover-main {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 50px);
  cursor: default;

  background-color: hsla(0,0,0,1);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position: center;

  -webkit-transition-property: bottom, left, opacity, width, height;
  -webkit-transition-duration: .65s, .65s, 0s, .65s, .65s;
  -webkit-transition-delay: 0s, 0s, 1s, 0s, 0s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: bottom, left, opacity, width, height;
  transition-duration: .65s, .65s, 0s, .65s, .65s;
  transition-delay: 0s, 0s, 1s, 0s, 0s;
  transition-timing-function: ease-in-out;

}

.view-cover-main-open {
  bottom: calc(-100% + 80px);
}

.view-cover-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 30px auto auto auto 1fr 1fr 1fr;
}

.view-cover-toggle-icon {
  grid-area: 1 / 1 / 2 / span 10;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30px;
  background: hsla(0, 0, 0, .6);

  -webkit-transition: background-color 1s ease-in-out .5s;
  -moz-transition: background-color 1s ease-in-out .5s;
  -o-transition: background-color 1s ease-in-out .5s;
  transition: background-color 1s ease-in-out .5s;

  .fa {
    align-self: center;
    justify-self: center;
    -webkit-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    transform: rotate(-270deg);

    -webkit-transition: transform 1s ease-in-out .5s, color 1s ease-in-out .5s;
    -moz-transition: transform 1s ease-in-out .5s, color 1s ease-in-out .5s;
    -o-transition: transform 1s ease-in-out .5s, color 1s ease-in-out .5s;
    transition: transform 1s ease-in-out .5s, color 1s ease-in-out .5s;
  }
}

/* MEDIUM SCREENS */
@media only screen and (min-width: 768px) {

  .view-cover-main {
    display: grid;
    grid-template-rows:  1fr auto auto auto 1fr;
    grid-template-columns: 30px 1fr minmax(auto, 1080px) 1fr 30px;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-top: none;
    overflow: hidden;

  }
  .view-cover-main-open {
    top: 0;
    left: 0;
    bottom: 0;
    height: calc(100% * .65);
    width: 100%;
  }
  .user-container {
    grid-area: 2 / 3 / span 1 / span 1;
  }

  .view-cover-content {
    grid-area: 1 / 1 / span 5 / span 5;
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 30px 1fr minmax(150px, auto) 1fr 30px;
    grid-template-columns: 30px 1fr minmax(auto, 1280px) 1fr 30px;


    .name, .developer, .status {
      width: auto;
      font-family: 'Munro', normal;
      font-size: 1.5em;
      line-height: 1.5em;
      color: $color-white;
      padding-left: 5px; padding-right: 5px;
      // background-color: hsla(0, 0, 0, .2);
    }

    .basic-info {
      grid-area: 1 / 1 / 1 / span 5;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 5px auto auto auto 5px;
      background-color: hsla(0, 0, 0, .6);
      .name {
        grid-area: 1 / 2 / span 1 / span 1;
      }
      .name:hover {
        span {
          color: hsla(275, 100, 60%, 1);
        }
      }
      .developer {
        grid-area: 1 / 3 / span 1 / span 1;
        text-align: center;
      }
      .status {
        grid-area: 1 / 4 / span 1 / span 1;
        text-align: right;
      }
    }

    .page-container {
      grid-area: 3 / 3 / span 1 / span 1;
    }
  }

  .view-cover-toggle-icon {
    grid-area: 5 / 1 / span 1 / span 5;
    grid-template-rows: 100%;
    grid-template-columns: 10px 1fr 1fr 1fr 10px ;
    align-items: center;
    width: 100%;
    transition: 0s;
    z-index: 10;
    .fa {
      grid-area: 1 / 3 / span 1 / span 1;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
    .hint-text {
      grid-area: 1 / 2 / span 1 / span 1;
    }
    .i-text {
      grid-area: 1 / 4 / span 1 / span 1;
      justify-self: right;
    }
  }

  .view-cover-toggle-icon:hover {
    background: hsla(0, 0, 0, 1);
    transition: 0s;
  }

  .view-cover-toggle-icon-open-dark {
      // background-color: $color-black;
    .fa {
      -webkit-transform: rotate(-270deg);
      -ms-transform: rotate(-270deg);
      transform: rotate(-270deg);
    }
  }

  .view-cover-toggle-icon-open-light {
    .fa {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
      color: $color-primary;
    }
  }
}

@media only screen and(min-width: 1280px) {
  .view-cover-content {
    .view-cover-p1 {
      font-size: 3em;
    }
    .view-cover-p2 {
      font-size: 1.5em;
    }
    .view-cover-p3 {
      font-size: 7em;
    }
  }
}
